.user-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.user {
  padding: 10px;
  border: 1px solid #f7f7f7;
}

.user:hover {
  background-color: aquamarine;
}

.user:active {
  background-color: aquamarine;
}
